@import "../../../variables"

#modal-dialog_add-product
  max-height 650px
  overflow-y auto

  label
    display block

  .modal-body
    > .row
      padding-top 5px
      &:nth-last-of-type(even)
        background-color #f9f9f9
        border-bottom 1px dashed #ccc
        border-top 1px dashed #ccc
      &:hover
        background-color #f5f5f5

  button.dropdown-toggle
    text-align left
    .caret
      float right
      margin-top 8px

  .row-images
    .list-images
      li
        margin-top 10px
        div
          position relative
          width 168px
          height 110px
          overflow hidden
          border 1px dashed #ccc
          border-radius 5px
          text-align center
        .glyphicon.glyphicon-remove
          position absolute
          top 0
          right 0
          border 2px solid $color-error
          border-radius 15px
          cursor pointer
        img
          max-height 100%
