#modal-dialog_add-product

  form(name="addProductForm" role="form" novalidate ng-submit="modalAddProductCtrl.submit()")
    .modal-header
      h3.modal-title {{modalAddProductCtrl.modalTitle}}

    .modal-body
      .row.clearfix
        .form-group.col-sm-6.clearfix
          label(for="name").required Name
          input(type="text" name="name" ng-model="modalAddProductCtrl.product.name" required ng-minlength="modalAddProductCtrl.config.validation.product.name.min" ng-maxlength="modalAddProductCtrl.config.validation.product.name.max").form-control#name
          mgr-validation(form="addProductForm" field="addProductForm.name" validators="addProductForm.validators.productName")

        .form-group.col-sm-6.clearfix
          label.required Category
          .dropdown-row
            .btn-group(uib-dropdown).full-width
              button(type="button" uib-dropdown-toggle).btn.btn-default.full-width#category {{modalAddProductCtrl.currentCategory.name || 'Select Category'}}
                span.caret &nbsp;
              ul(uib-dropdown-menu role="menu").full-width
                li(role="menuitem" ng-repeat="category in modalAddProductCtrl.temp.categories").group-category
                  a(href="javascript:void(0)" ng-click="modalAddProductCtrl.setCategory(category)").category-name {{category.name}}

      .row.clearfix
        .form-group.col-sm-6
          label.required Manufacturer
          .dropdown-row
            .btn-group(uib-dropdown).full-width
              button(type="button" uib-dropdown-toggle).btn.btn-default.full-width#manufacturer {{modalAddProductCtrl.currentManufacturer.name || 'Select Manufacturer'}}
                span.caret &nbsp;
              ul(uib-dropdown-menu role="menu").full-width
                li(role="menuitem" ng-repeat="manufacturer in modalAddProductCtrl.temp.manufacturers").group-category
                  a(href="javascript:void(0)" ng-click="modalAddProductCtrl.setManufacturer(manufacturer)").manufacturer-name {{manufacturer.name}}

        .form-group.col-sm-6
          label.required Carrier
          .dropdown-row
            .btn-group(uib-dropdown).full-width
              button(type="button" uib-dropdown-toggle).btn.btn-default.full-width#carrier {{modalAddProductCtrl.currentCarrier.name || 'Select Carrier'}}
                span.caret &nbsp;
              ul(uib-dropdown-menu role="menu").full-width
                li(role="menuitem" ng-repeat="carrier in modalAddProductCtrl.temp.carriers").group-category
                  a(href="javascript:void(0)" ng-click="modalAddProductCtrl.setCarrier(carrier)").category-name {{carrier.name}}


      form-add-product-phone-drv(ng-if="modalAddProductCtrl.currentCategory.name && modalAddProductCtrl.currentCategory.name === 'Phones'" product="modalAddProductCtrl.product" temp="modalAddProductCtrl.temp")


    .modal-footer.text-center
      button(type="submit" ng-disabled="addProductForm.$invalid").btn.btn-success Save
      button(type="button" ng-click="modalAddProductCtrl.cancel()").btn.btn-warning Cancel
