@import "../../../variables"

.buy
  text-align center
  .btn
    font-size 26px
    color #ccc
    background-color transparent
    transition: color .5s linear
    &:hover
      color $color-link !important
