doctype html
html(ng-app="application")
  head
    title MobiShop
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="/css/vendor.css")
    link(rel="stylesheet" href="/css/application.css")
  body
    #container(ui-view)

  script(src="/js/vendor.js")
  script(src="/js/application.js")
  script(src="/js/templates.js")
