form(name="form" role="form" novalidate ng-submit="formResetPasswordRequest.submit()")
  .form-group
    label(for="email") Email:
    input(type="email" name="email" ng-model="formResetPasswordRequest.email" ng-required="!formResetPasswordRequest.hasSubmit" ng-pattern="formResetPasswordRequest.config.validation.user.email.pattern" ng-change="formResetPasswordRequest.changeFields()" ng-model-options="{debounce: 500}")#email.form-control
    mgr-validation(form="form" field="form.email" validators="formResetPasswordRequest.validators.email")
  .form-group.nomargin.btn-row.clearfix
    a(href="{{formResetPasswordRequest.backUrl ? formResetPasswordRequest.backUrl + 'sign-in' : 'sign-in'}}").pull-left Sign In
    button.pull-right(type="submit" ng-disabled="form.$invalid").btn.btn-warning Send
