section#product

  .product-info(ng-class="productCtrl.category").m-t-40
    .product-inner(ng-if="productCtrl.category === 'phones'").row

      .row-box.clearfix
        .name
          .data {{productCtrl.product.name}}
        .price
          .data {{productCtrl.config.currency}}&nbsp;{{productCtrl.product.price}}

      buy-drv(product="product")

      .images(ng-if="productCtrl.product.images.length")
        .data(ng-repeat="image in productCtrl.product.images")
          img(src="{{productCtrl.apiURL + image}}")

      .row-about.m-t-40.m-b-10
        .htitle.m-b-10 About:
        .about
          .data
            .info.description
              span.title Description
              span.value {{productCtrl.product.description}}
          .data
            .info.additionalFeatures
              span.title Additional Features
              span.value {{productCtrl.product.additionalFeatures}}

      .row-box.characteristics.clearfix
        .row-about.m-t-40.m-b-10
          div Characteristics:

        .soft
          .block-title Soft
          .data
            .info.os
              span.title OS
              span.value {{productCtrl.product.soft.os}}
          .data
            .info.os
              span.title UI
              span.value {{productCtrl.product.soft.ui}}

        .hardware
          .block-title Hardware
          .data
            .info.cpu
              span.title CPU
              span.value {{productCtrl.product.hardware.cpu}}
          .data
            .info.audioJack
              span.title Audio Jack
              span.value {{productCtrl.product.hardware.audioJack}}
          .data
            .info.usb
              span.title USB
              span.value {{productCtrl.product.hardware.usb}}
          .data
            .info.cpu
              span.title Accelerometer
              span.value {{productCtrl.product.hardware.accelerometer === true}}
          .data
            .info.cpu
              span.title Physical Keyboard
              span.value {{productCtrl.product.hardware.physicalKeyboard === true}}
          .data
            .info.cpu
              span.title FM Radio
              span.value {{productCtrl.product.hardware.fmRadio === true}}

        .display
          .block-title Display
          .data
            .info.screenResolution
              span.title Screen Resolution
              span.value {{productCtrl.product.display.screenResolution}}
          .data
            .info.screenSize
              span.title Screen Size
              span.value {{productCtrl.product.display.screenSize}}
          .data
            .info.screenSize
              span.title Touch Screen
              span.value {{productCtrl.product.display.touchScreen === true}}

        .camera
          .block-title Camera
          .data
            .info.features
              span.title Features
              span.value {{productCtrl.product.camera.features}}
          .data
            .info.primary
              span.title Primary
              span.value {{productCtrl.product.camera.primary}}

        .battery
          .block-title Battery
          .data
            .info.type
              span.title Type
              span.value {{productCtrl.product.battery.type}}
          .data
            .info.standbyTime
              span.title Standby Time
              span.value {{productCtrl.product.battery.standbyTime}}
          .data
            .info.talkTime
              span.title Primary
              span.value {{productCtrl.product.battery.talkTime}}

        .storate
          .block-title Storage
          .data
            .info.flash
              span.title Flash
              span.value {{productCtrl.product.storage.flash}}
          .data
            .info.ram
              span.title RAM
              span.value {{productCtrl.product.storage.ram}}

        .connectivity
          .block-title Connectivity
          .data
            .info.bluetooth
              span.title Bluetooth
              span.value {{productCtrl.product.connectivity.bluetooth}}
          .data
            .info.cell
              span.title Cell
              span.value {{productCtrl.product.connectivity.cell}}
          .data
            .info.wifi
              span.title WiFi
              span.value {{productCtrl.product.connectivity.wifi}}
          .data
            .info.gps
              span.title GPS
              span.value {{productCtrl.product.connectivity.gps === true}}
          .data
            .info.infrared
              span.title Infrared
              span.value {{productCtrl.product.connectivity.infrared === true}}
          .data
            .info.ram
              span.title RAM
              span.value {{productCtrl.product.connectivity.ram}}

        .sizeAndWeight
          .block-title Size and Weight
          .data
            .info.dimensions
              span.title Width
              span.value {{productCtrl.product.sizeAndWeight.dimensions.width}}
              span.title Height
              span.value {{productCtrl.product.sizeAndWeight.dimensions.height}}
              span.title Deep
              span.value {{productCtrl.product.sizeAndWeight.dimensions.deep}}
          .data
            .info.ram
              span.title Weight
              span.value {{productCtrl.product.sizeAndWeight.weight}}
