@import "../../variables"

#product

  .product-inner
    padding 15px
    border 3px solid #ececec
    background-color #fff
    span.title
      font-weight bold
      &:after
        content ": "
    .data
      margin-bottom 10px

  .row-about
    .htitle
      font-size 20px
      font-weight bold

  .block-title
    font-size 16px
    font-weight bold
  .name
    float left
    font-size 22px
    font-weight bold

  .price
    float right
    font-size 22px
    font-weight bold

  .buy
    margin-bottom 10px
    text-align right

  .images
    padding 15px 0
    height 232px
    overflow auto
    border-top 1px solid #ccc
    border-bottom 1px solid #ccc
    > div
      float left
      width 25%
      text-align center
      img
        max-width 100%
        max-height 200px

  .characteristics
    width 65%
    min-width 320px
    .info
      margin 10px 0 2px
      border-bottom 1px dotted #ccc

  .info
    &:after
      display table
      content " "
      clear both
    .title
      float left
    .value
      float right
    .title, .value
      position relative
  .about
    .title, .value
      float none
