@import "../../variables"

#products

  .table-container
    border-radius 3px
    thead
      display none
    tbody
      border 3px solid #ECECEC

  .product
    &-info
      overflow hidden
      border-bottom 1px solid #ECECEC
      background-color #fff
      .product-name
        a
          font-size 16px
      .product-about
        border-top 1px solid #ECECEC
        .desc
          padding 10px 0
          max-height 80px
          overflow hidden
          line-height 22px
          text-overflow ellipsis
      .characteristics
        margin 0 -10px
        span
          display inline-block
          margin-left 10px
          padding 2px 5px
          border 1px solid $border-color
          border-radius 10px
          line-height 15px
          box-shadow 1px 2px 1px rgba(0,0,0,0.75)
          background-color #F5F5F5
      .price
        text-align center
    &-box
      height 120px
      div[class^='col-']
        color #000
      .col
        &-left
          height 120px
          text-align center
          img
            max-height 100%
        &-right
          .price
            margin-right -9px
            border 1px dashed #A7A7A7
            border-top-left-radius 3px
            border-bottom-left-radius 3px
            background #fff9f9
            background -moz-linear-gradient(left, #fff9f9 0%, #e0e0e0 23%, #e0e0e0 23%, #ececec 54%, #ececec 54%, #ffffff 100%)
            background -webkit-linear-gradient(left, #fff9f9 0%,#e0e0e0 23%,#e0e0e0 23%,#ececec 54%,#ececec 54%,#ffffff 100%)
            background linear-gradient(to right, #fff9f9 0%,#e0e0e0 23%,#e0e0e0 23%,#ececec 54%,#ececec 54%,#ffffff 100%)
            font-size 20px
            color #656565
            font-family $font-family-bold
          &:hover
            .buy .btn
              color #6D6D6D
