section#products

  .row
    .table-container.m-t-20
      table(ng-table="productsCtrl.tableParams").table
        tbody
          tr(ng-repeat="product in $data track by product.id").product-row

            td(ng-if="productsCtrl.currentCategory === 'phones'").product-info
              .product-box.row
                .col-left.col-sm-2
                  img(src="{{productsCtrl.apiURL + product.images[0]}}")
                .col-middle.col-sm-8
                  .product-name
                    a(href="/shop/product/{{product.id}}?category={{productsCtrl.currentCategory}}") {{product.name}}
                  .product-about
                    .desc {{product.description}}
                    .characteristics
                      span
                        strong OS:
                        | &nbsp;{{product.soft.os}}
                      span
                        strong UI:
                          | &nbsp;{{product.soft.ui}}
                      span
                        strong CPU:
                        | &nbsp;{{product.hardware.cpu}}
                      span
                        strong USB
                        | &nbsp;{{product.hardware.usb}}
                      span
                        strong Audio Jack:
                        | &nbsp;{{product.hardware.audioJack}}
                      span
                        strong Accelerometer:
                        | &nbsp;{{product.hardware.accelerometer}}
                      span
                        strong FM Radio:
                        | &nbsp;{{product.hardware.fmRadio}}
                      span
                        strong Physical Keyboard:
                        | &nbsp;{{product.hardware.physicalKeyboard}}
                .col-right.col-sm-2
                  .price
                    strong {{productsCtrl.config.currency}}&nbsp;{{product.price}}
                  buy-drv(ng-if="productsCtrl.$rootScope.userInfo && product.status" product="product")
