#state-error-500.as-table
  .container.as-table-cell
    .row
      .col-md-12
        .error-template.text-center
          h1 Oops!
          h2 500 Unexpected Error
          .error-details Request couldn`t be completed. Please try again later.
