#state-error-404.as-table
  .container.as-table-cell
    .row
      .col-md-12
        .error-template.text-center
          h1 Oops!
          h2 404 Not Found
          .error-details Sorry, an error has occured, page not found!
