section#form-part-phones
  .row.clearfix
    .col-sm-3.form-group
      label(for="status").as-block Status
      toggle-switch(type="checkbox" ng-model="formAddProductPhoneCtrl.product.status" ng-change="formAddProductPhoneCtrl.product.status = formAddProductPhoneCtrl.product.status ? 1 : 0")#status
    .col-sm-3.form-group
      label(for="quantity") Quantity
      input(type="number" name="name" placeholder="0" ng-model="formAddProductPhoneCtrl.product.quantity" ng-model-options='{debounce: 500}' ng-change="formAddProductPhoneCtrl.product.quantity = formAddProductPhoneCtrl.validate(formAddProductPhoneCtrl.product.quantity, 'number')").form-control#quantity
    .col-sm-3.form-group
      label(for="os") OS
        em.secondary-title &nbsp;(Soft)
      input(type="text" name="os" placeholder="Android 2.2" ng-model="formAddProductPhoneCtrl.product.soft.os").form-control#os
    .col-sm-3.form-group
      label(for="ui") UI
        em.secondary-title &nbsp;(Soft)
      input(type="text" name="ui" placeholder="Android" ng-model="formAddProductPhoneCtrl.product.soft.ui").form-control#ui

  .row.clearfix
    .form-group.col-sm-6
      label Description
      textarea(name="description" ng-model="formAddProductPhoneCtrl.product.description" ng-minlength="formAddProductPhoneCtrl.config.validation.product.description.min" ng-maxlength="formAddProductPhoneCtrl.config.validation.product.description.max").form-control#description
      mgr-validation(form="addProductForm" field="addProductForm.description" validators="formAddProductPhoneCtrl.validators.productDescription")

    .form-group.col-sm-6
      label Additional Features
      textarea(name="features" ng-model="formAddProductPhoneCtrl.product.additionalFeatures" ng-minlength="formAddProductPhoneCtrl.config.validation.product.features.min" ng-maxlength="formAddProductPhoneCtrl.config.validation.product.features.max").form-control#features
      mgr-validation(form="addProductForm" field="addProductForm.features" validators="formAddProductPhoneCtrl.validators.productFeatures")

  .row.clearfix
    .form-group.row-images.col-sm-12
      div(type="file" ngf-select ngf-drop ngf-multiple="true" ngf-pattern="formAddProductPhoneCtrl.config.brandPattern" ngf-min-width="formAddProductPhoneCtrl.config.validation.product.image.minWidth" ngf-min-height="formAddProductPhoneCtrl.config.validation.product.image.minHeight" ngf-max-size="formAddProductPhoneCtrl.config.validation.product.image.maxSize" ngf-change="formAddProductPhoneCtrl.uploadImages($files, $invalidFiles)").dragover.drop-box#add-images Drop or click for uploading images
      ul(ng-if="formAddProductPhoneCtrl.temp.images").list-images.list.list-unstyled.row
        li(ng-repeat="image in formAddProductPhoneCtrl.temp.images").col-sm-4
          div
            span(ng-click="formAddProductPhoneCtrl.removeImage(image, $event)").glyphicon.glyphicon-remove
            img(src="{{image.$ngfBlobUrl}}").product-image
      uib-progressbar(ng-if="formAddProductPhoneCtrl.temp.uploadProgress.pt || formAddProductPhoneCtrl.temp.errors.uploadError.msg" value="formAddProductPhoneCtrl.temp.uploadProgress.pt || formAddProductPhoneCtrl.temp.errors.uploadError.msg" type="{{formAddProductPhoneCtrl.temp.errors.uploadError.msg ? 'warning': 'success'}}")
        span(ng-if="formAddProductPhoneCtrl.temp.uploadProgress.pt && !formAddProductPhoneCtrl.temp.errors.uploadError.msg").progressbar-text {{formAddProductPhoneCtrl.temp.uploadProgress.pt}}%
        span(ng-if="formAddProductPhoneCtrl.temp.errors.uploadError.msg").progressbar-text {{formAddProductPhoneCtrl.temp.errors.uploadError.msg}}
      ul(ng-if="formAddProductPhoneCtrl.temp.errors.images").mgr-validation-messages
        li(ng-repeat="error in formAddProductPhoneCtrl.temp.errors.images track by $index").mgr-invalid
          p {{error}}

  .row.clearfix
    .col-sm-4.form-group
      label(for="cpu") CPU
        em.secondary-title &nbsp;(HW)
      input(type="text" name="cpu" placeholder="800 MHz Qualcomm® Snapdragon™ MSM7230" ng-model="formAddProductPhoneCtrl.product.hardware.cpu").form-control#cpu
    .col-sm-4.form-group
      label(for="usb") USB
        em.secondary-title &nbsp;(HW)
      input(type="text" name="usb" placeholder="USB 2.0" ng-model="formAddProductPhoneCtrl.product.hardware.usb").form-control#usb
    .col-sm-4.form-group
      label(for="cpu") AudioJack
        em.secondary-title &nbsp;(HW)
      input(type="text" name="cpu" placeholder="3.5mm" ng-model="formAddProductPhoneCtrl.product.hardware.AudioJack").form-control#AudioJack

  .row.clearfix
    .col-sm-4.form-group
      label(for="accelerometer").as-block Accelerometer
        em.secondary-title &nbsp;(HW)
      toggle-switch(type="checkbox" ng-model="formAddProductPhoneCtrl.product.hardware.accelerometer")#accelerometer
    .col-sm-4.form-group
      label(for="fmRadio").as-block FM Radio
        em.secondary-title &nbsp;(HW)
      toggle-switch(type="checkbox" ng-model="formAddProductPhoneCtrl.product.hardware.fmRadio")#fmRadio
    .col-sm-4.form-group
      label(for="physicalKeyboard").as-block Physical Keyboard
        em.secondary-title &nbsp;(HW)
      toggle-switch(type="checkbox" ng-model="formAddProductPhoneCtrl.product.hardware.physicalKeyboard")#physicalKeyboard

  .row.clearfix
    .col-sm-3.form-group
      label(for="bluetooth") Bluetooth
        em.secondary-title &nbsp;(CV)
      input(type="text" name="bluetooth" placeholder="Bluetooth 2.1" ng-model="formAddProductPhoneCtrl.product.connectivity.bluetooth").form-control#bluetooth
    .col-sm-3.form-group
      label(for="wifi") WiFi
        em.secondary-title &nbsp;(CV)
      input(type="text" name="wifi" placeholder="802.11 b/g/n" ng-model="formAddProductPhoneCtrl.product.connectivity.wifi").form-control#wifi
    .col-sm-6.form-group
      label Cell
        em.secondary-title &nbsp;(CV)
      textarea(style="height: 34px;" name="connectivityCell" placeholder="850, 900, 1800, 1900  UMTS: Yes" ng-model="formAddProductPhoneCtrl.product.connectivity.cell" ng-maxlength="formAddProductPhoneCtrl.config.validation.product.connectivity.cell.max").form-control#connectivityCell
      mgr-validation(form="addProductForm" field="addProductForm.connectivityCell" validators="formAddProductPhoneCtrl.validators.connectivityCell")

  .row.clearfix
    .col-sm-3.form-group
      label(for="gps").as-block GPS
        em.secondary-title &nbsp;(CV)
      toggle-switch(type="checkbox" ng-model="formAddProductPhoneCtrl.product.connectivity.gps")#gps
    .col-sm-3.form-group
      label(for="infrared").as-block Infrared
        em.secondary-title &nbsp;(CV)
      toggle-switch(type="checkbox" ng-model="formAddProductPhoneCtrl.product.connectivity.infrared")#infrared
    .col-sm-3.form-group
      label(for="flash") Flash
        em.secondary-title &nbsp;(S)
      input(type="text" name="flash" placeholder="4000MB" ng-model="formAddProductPhoneCtrl.product.storage.flash").form-control#flash
    .col-sm-3.form-group
      label(for="ram") RAM
        em.secondary-title &nbsp;(S)
      input(type="text" name="ram" placeholder="512MB" ng-model="formAddProductPhoneCtrl.product.storage.ram").form-control#ram

  .row.clearfix
    .col-sm-4.form-group
      label(for="screenResolution") Screen Resolution
        em.secondary-title &nbsp;(D)
      input(type="text" name="screenResolution" placeholder="WVGA (800 x 480)" ng-model="formAddProductPhoneCtrl.product.display.screenResolution").form-control#screenResolution
    .col-sm-4.form-group
      label(for="screenSize") Screen Size
        em.secondary-title &nbsp;(D)
      input(type="text" name="screenSize" placeholder="3.7 inches" ng-model="formAddProductPhoneCtrl.product.display.screenSize").form-control#screenSize
    .col-sm-4.form-group
      label(for="touchScreen").as-block Touch Screen
        em.secondary-title &nbsp;(D)
      toggle-switch(type="checkbox" ng-model="formAddProductPhoneCtrl.product.display.touchScreen")#touchScreen

  .row.clearfix
    .col-sm-3.form-group
      label(for="width") Width
        em.secondary-title &nbsp;(S&W)
      input(type="text" name="width" placeholder="60.5 mm" ng-model="formAddProductPhoneCtrl.product.sizeAndWeight.dimensions.width").form-control#width
    .col-sm-3.form-group
      label(for="height") Height
        em.secondary-title &nbsp;(S&W)
      input(type="text" name="height" placeholder="116.3 mm" ng-model="formAddProductPhoneCtrl.product.sizeAndWeight.dimensions.height").form-control#height
    .col-sm-3.form-group
      label(for="deep") Deep
        em.secondary-title &nbsp;(S&W)
      input(type="text" name="deep" placeholder="13.7 mm" ng-model="formAddProductPhoneCtrl.product.sizeAndWeight.dimensions.deep").form-control#deep
    .col-sm-3.form-group
      label(for="weight") Weight
        em.secondary-title &nbsp;(S&W)
      input(type="text" name="weight" placeholder="169.0 grams" ng-model="formAddProductPhoneCtrl.product.sizeAndWeight.weight").form-control#weight

  .row.clearfix
    .col-sm-3.form-group
      label(for="standbyTime") Standby Time
        em.secondary-title &nbsp;(BT)
      input(type="number" name="standbyTime" placeholder="230 hours" ng-model="formAddProductPhoneCtrl.product.battery.standbyTime" ng-model-options='{debounce: 500}' ng-change="formAddProductPhoneCtrl.product.battery.standbyTime = formAddProductPhoneCtrl.validate(formAddProductPhoneCtrl.product.battery.standbyTime, 'number')").form-control#standbyTime
    .col-sm-3.form-group
      label(for="talkTime") Talk Time
        em.secondary-title &nbsp;(BT)
      input(type="text" name="talkTime" placeholder="8 hours" ng-model="formAddProductPhoneCtrl.product.battery.talkTime").form-control#talkTime
    .col-sm-6.form-group
      label Type
        em.secondary-title &nbsp;(BT)
      textarea(style="height: 34px;" name="batteryType" placeholder="Lithium Ion (Li-Ion) (1400 mAH)" ng-model="formAddProductPhoneCtrl.product.battery.type" ng-maxlength="formAddProductPhoneCtrl.config.validation.product.battery.type.max").form-control#batteryType
      mgr-validation(form="addProductForm" field="addProductForm.batteryType" validators="formAddProductPhoneCtrl.validators.productBatteryType")

  .row.clearfix
    .col-sm-3.form-group
      label(for="cameraFeatures") Features
        em.secondary-title &nbsp;(Camera)
      input(type="text" name="features" placeholder="Flash, Video" ng-model="formAddProductPhoneCtrl.product.camera.features").form-control#cameraFeatures
    .col-sm-3.form-group
      label(for="cameraPrimary") Primary
        em.secondary-title &nbsp;(Camera)
      input(type="text" name="primary" placeholder="5.0 megapixels" ng-model="formAddProductPhoneCtrl.product.camera.primary").form-control#cameraPrimary
