form(name="form" role="form" novalidate ng-submit="formResetPassword.submit()")
  .form-group
    label(for="password") Password:
    input(type="password" name="password" ng-model="formResetPassword.password" ng-required="!formResetPassword.hasSubmit" ng-minlength="formResetPassword.config.validation.user.password.minLength" ng-change="formResetPassword.changeFields()" ng-model-options="{debounce: 500}")#password.form-control
    mgr-validation(form="form" field="form.password" validators="formResetPassword.validators.password")
  .form-group
    label(for="re-password") Re-enter password:
    input(type="password" name="re-password" ng-model="formResetPassword.rePassword" ng-required="!formResetPassword.hasSubmit" ng-minlength="formResetPassword.config.validation.user.password.minLength" ng-change="formResetPassword.changeFields()" ng-model-options="{debounce: 500}")#re-password.form-control
    mgr-validation(form="form" field="form['re-password']" validators="formResetPassword.validators.password")
  .form-group.nomargin.clearfix
    button.pull-right(type="submit" ng-disabled="form.$invalid").btn.btn-warning Send
