#reset-password-request.as-table

  .as-table-cell
    .row.centered
      .col-sm-6.col-sm-offset-3.reset-password-request-container.as-modal
        section.panel.panel-default
          .panel-heading.text-center
            h3 Request to reset password
          .panel-body
            form-reset-password-request(backurl="'admin-panel/'")
