header#header
  nav
    ul.list-unstyled.list-inline.list-hash.m-b-0
      li
        a(ng-class="{active: adminHeaderCtrl.$rootScope.stateActive === 'application.adminPanel.manageProducts'}" href="/admin-panel/manage-products") Manage Products
      li
        a(ng-class="{active: adminHeaderCtrl.$rootScope.stateActive === 'application.adminPanel.manageOrders'}" href="/admin-panel/manage-orders") Manage Orders
      li
        a(ng-class="{active: adminHeaderCtrl.$rootScope.stateActive === 'application.adminPanel.editProfile'}" href="/admin-panel/edit-profile") Edit Profile
      li
        a(href="javascript:void(0)" ng-click="adminHeaderCtrl.logout()") Logout
