#admin-panel

  #header
    height 36px
    text-align center
    border-bottom 1px solid #c7c7c7
    box-shadow 0 3px 5px rgba(0,0,0,0.15)
    background url(/assets/images/main/white_op_bg.png) repeat-x

    li
      line-height 34px
      text-transform uppercase
      a
        font-weight bold

    .list-hash li:not(:last-child):after
      content "/"
      margin-left 0.75em
      font-size 18px
      font-weight 700
