#reset-password.as-table

  .as-table-cell
    .row.centered
      .col-sm-6.col-sm-offset-3.reset-password-container.as-modal
        section.panel.panel-default
          .panel-heading.text-center
            h3 Enter new password
          .panel-body
            form-reset-password(token="resetPasswordCtrl.accessToken")
