body
  background url(/assets/images/main/admin-bg-el.jpg) repeat

#admin-panel
  height 100%

  > .container
    height calc(100% - 36px)
    padding-top 30px

  table
    &.table-bordered
      box-shadow 0 0 2px rgba(0,0,0,0.25)
      background-color #fff
