form(name="form" role="form" novalidate ng-submit="formSignInCtrl.submit(form)")

  .form-group
    label(for="email").required Email:
    input(type="email" name="email" ng-model="formSignInCtrl.user.email" required ng-pattern="formSignInCtrl.config.validation.user.email.pattern" ng-change="formSignInCtrl.changeFields()" ng-model-options="{debounce: 500}")#email.form-control
    mgr-validation(form="form" field="form.email" validators="formSignInCtrl.validators.email")
  .form-group
    label(for="password").required Password:
    input(type="password" name="password" ng-model="formSignInCtrl.user.password" required ng-minlength="formSignInCtrl.config.validation.user.password.minLength" ng-change="formSignInCtrl.changeFields()" ng-model-options="{debounce: 500}")#password.form-control
    mgr-validation(form="form" field="form.password" validators="formSignInCtrl.validators.password")
  .form-group.nomargin.btn-row.clearfix
    a.pull-left(href='/reset-password-request' ng-click="formSignInCtrl.modalinstance.dismiss('cancel')") Restore password
    button.pull-right(type="submit" ng-disabled="form.$invalid").btn.btn-warning Login
