form(name="form" role="form" novalidate ng-submit="formSignUpCtrl.submit()")

  .form-group
    label(for="email").required Email:
    input(type="email" name="email" ng-model="formSignUpCtrl.user.email" required ng-pattern="formSignUpCtrl.config.validation.user.email.pattern" ng-change="formSignUpCtrl.changeFields()" ng-model-options="{debounce: 500}")#email.form-control
    mgr-validation(form="form" field="form.email" validators="formSignUpCtrl.validators.email")
  .form-group
    label(for="password").required Password:
    input(type="password" name="password" ng-model="formSignUpCtrl.user.password" required ng-minlength="formSignUpCtrl.config.validation.user.password.min" ng-change="formSignUpCtrl.changeFields()" ng-model-options="{debounce: 500}")#password.form-control
    mgr-validation(form="form" field="form.password" validators="formSignUpCtrl.validators.password")
  .form-group
    label(for="repassword").required Confirm Password:
    input(type="password" name="repassword" ng-model="formSignUpCtrl.user.repassword" required ng-minlength="formSignUpCtrl.config.validation.user.password.min" ng-change="formSignUpCtrl.changeFields()" ng-model-options="{debounce: 500}")#repassword.form-control
    mgr-validation(form="form" field="form.repassword" validators="formSignUpCtrl.validators.password")
  .form-group.nomargin.btn-row.clearfix
    button.pull-right(type="submit" ng-disabled="form.$invalid").btn.btn-warning Login
