@import "variables"

/* GLOBAL */
*
  outline none !important

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300)

html
  font-size 62.5%

body
  margin 0
  font-family $font-family
  color $color-default
  background-color #f2f2f2

html, body, #container, #container > div
  height 100%

body a
  color $color-link
  &:hover
    color $color-link
    text-decoration underline

textarea
  resize vertical

.as-block
  display block
  width 100%

.as-table
  display table
  width 100%
  height 100%

.as-table-cell
  display table-cell
  vertical-align middle

body .text-center
  text-align center

body .text-right
  text-align right

body .nomargin
  margin 0

body .m-vert-20
  margin 20px 0

body .m-b-0
  margin-bottom 0

body .m-t-10
  margin-top 10px

body .m-t-20
  margin-top 20px

body .m-t-40
  margin-top 40px

body .m-b-10
  margin-bottom 10px

body .m-b-20
  margin-bottom 20px

body .m-r-15
  margin-right 15px

body .width-full
  width 100%

body .min-width-940
  min-width 940px

body .full-width
  width 100%

body .secondary-title
  font-size 12px
  color #888

body label
  width 100%
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.glyphicon-refresh-animate
  -animation spin 1s infinite linear
  -ms-animation spin 1s infinite linear
  -webkit-animation spinw 1s infinite linear
  -moz-animation spinm 1s infinite linear

@keyframes spin
  from { transform: scale(1) rotate(0deg)}
  to { transform: scale(1) rotate(360deg)}

@-webkit-keyframes spinw
  from { -webkit-transform: rotate(0deg)}
  to { -webkit-transform: rotate(360deg)}

@-moz-keyframes spinm
  from { -moz-transform: rotate(0deg)}
  to { -moz-transform: rotate(360deg)}

.text-loader-right
  margin-right 5px


/* LAYOUTS */
.text-error
  display none

label.required:after
  content " *"
  color $color-error

.has-error
  .control-label
    margin-top 5px
    line-height 18px
    font-weight 500
  > button
    border-color $color-error
  > .text-error
    display inline-block
    color $color-error !important

.text-danger
  > a
    color $color-error !important

.alert
  > .glyphicon
    margin-right 5px

body table.table
  td
    line-height 34px

.text-ellipsis
  overflow hidden
  text-overflow ellipsis

.panel.panel-default
  .panel-heading
    background #fff
    text-transform uppercase


/*
// INTERFACE
*/
.as-modal
  box-shadow 3px 3px 5px rgba(0,0,0,0.5)
  border-radius 7px
  > div
    padding 10px

.ui-notification
  opacity 0.7
  &:hover
    opacity 1 !important


/* Scrollbar */
::-webkit-scrollbar
  width 10px
  height 10px

::-webkit-scrollbar-button
  width 0
  height 0

::-webkit-scrollbar-thumb
  border 1px solid #ccc
  border-radius 50px
  background #f5f5f5

::-webkit-scrollbar-thumb:hover
  background #fff

::-webkit-scrollbar-thumb:active
  background #dfdfdf

::-webkit-scrollbar-track
  background #ababab
  border 1px solid #fff
  border-radius 50px

::-webkit-scrollbar-track:hover
  background #666

::-webkit-scrollbar-track:active
  background #333

::-webkit-scrollbar-corner
  background transparent

/*
// MODAL
*/
.modal
  text-align center

.modal-dialog
  display inline-block
  text-align left
  vertical-align middle

.modal-header
  text-align center
  text-transform uppercase
  color #888888

.modal-vertical-align
  display table
  width 100%
  height 100%

.modal-vertical-align-cell
  display table-cell
  vertical-align middle

@media screen and (min-width: 768px) {
  .modal:before {
    display inline-block
    vertical-align middle
    content " "
    height 100%
  }
}


/*
// Directives
/*
/* Toggle-switch */
.toggle-switch
  height 34px
  .toggle-switch-animate
    height 100%
    span
      line-height 24px

.mgr-validation-messages
  .mgr-invalid
    font-size 12px
    color $color-error !important

.progressbar-text
  display block
  margin 0 10px
  white-space nowrap
  text-overflow ellipsis
  overflow hidden


/* Animation */
.animate-show
  display block!important
  -webkit-transition 0.5s linear all
  transition 0.5s linear all

.animate-hidden
  opacity 0
  -webkit-transition 0.5s linear all
  transition 0.5s linear all
  -webkit-transition-delay 0.5s
  transition-delay 0.5s

.centered
  margin 0 auto
  width 80%


/*
// NG-FILE-UPLOAD
*/
.drop-box
  width 100%
  height 65px
  line-height 55px
  border 5px dashed #DDD
  text-align center
  cursor pointer
  background #F8F8F8

.dragover
  border: 5px dashed $color-link



/*
// PAGES
*/


/*
// RESPONSE
*/
/* GLOBAL */
@media (max-width: 769px)
  body
    .sm-m-b-10
      margin-bottom 10px
