form(name="form" role="form" novalidate ng-submit="formEditCtrl.submit()")

  .form-group
    label(for="email") Email:
    input(type="email" name="email" ng-model="formEditCtrl.user.email" ng-pattern="formEditCtrl.config.validation.user.email.pattern" ng-change="formEditCtrl.changeFields()" ng-model-options="{debounce: 500}")#email.form-control
    mgr-validation(form="form" field="form.email" validators="formEditCtrl.validators.email")
  .form-group
    label(for="username") Username:
    input(type="text" name="username" ng-model="formEditCtrl.user.username" ng-pattern="formEditCtrl.config.validation.user.username.pattern" ng-change="formEditCtrl.changeFields()" ng-model-options="{debounce: 500}")#username.form-control
    mgr-validation(form="form" field="form.username" validators="formEditCtrl.validators.username")
  .form-group
    label(for="oldpassword") Old Password:
    input(type="password" name="oldpassword" ng-model="formEditCtrl.user.oldpassword" ng-minlength="formEditCtrl.config.validation.user.password.min" ng-change="formEditCtrl.changeFields()" ng-model-options="{debounce: 500}")#oldpassword.form-control
    mgr-validation(form="form" field="form.oldpassword" validators="formEditCtrl.validators.password")
  .form-group
    label(for="password") New Password:
    input(type="password" name="password" ng-model="formEditCtrl.user.password" ng-minlength="formEditCtrl.config.validation.user.password.min" ng-change="formEditCtrl.changeFields()" ng-model-options="{debounce: 500}")#password.form-control
    mgr-validation(form="form" field="form.password" validators="formEditCtrl.validators.password")
  .form-group
    label(for="repassword") Repeat New Password:
    input(type="password" name="repassword" ng-model="formEditCtrl.user.repassword" ng-minlength="formEditCtrl.config.validation.user.password.min" ng-change="formEditCtrl.changeFields()" ng-model-options="{debounce: 500}")#repassword.form-control
    mgr-validation(form="form" field="form.repassword" validators="formEditCtrl.validators.password")
  .form-group.nomargin.btn-row.clearfix
    button.pull-right(type="submit" ng-disabled="form.$invalid").btn.btn-warning Send
