#user-profile

  div(ng-if="!userProfileCtrl.$rootScope.userInfo").out-system
    ul.list.list-unstyled.m-b-0
      li
        a(href="javascript:void(0)" ng-click="userProfileCtrl.signIn()") Sign In
      li
        a(href="javascript:void(0)" ng-click="userProfileCtrl.signUp()") Sign Up

  div(ng-if="userProfileCtrl.$rootScope.userInfo").in-system
    ul.list.list-unstyled.m-b-0
      li
        a(href="/shop/profile") Profile
      li
        a(href="javascript:void(0)" ng-click="userProfileCtrl.logout()") Logout
