@import "../variables"

#shop
  height calc(100% - 121px)
  > div
    height calc(100% - 121px)

  input
    &.form-controls
      line-height 30px
      border 1px solid $border-color
      border-radius $border-radius
      box-shadow inset 0 0 3px rgba(0,0,0,0.25)

  .input-group
    input.form-controls
      width 100%
