@import "../../../variables"

#search-panel
  width calc(80% - 86px)

  .logo-part
    position absolute
    top 1px
    left 5px
    line-height 32px
    font-size 20px
    &:before
    &:after
      content " "
      position absolute
      top 0
      right -35px
      width 15px
      height 50%
      border-width 16px 16px
      border-style solid
      border-color transparent transparent transparent $border-color
    &:after
      right - 34px
      border-left-color #fff

  #search
    padding-left 72px

  .input-group
    position relative

  .result
    position absolute
    top 34px
    left 0
    right 40px
    max-height 174px
    overflow-x auto
    border 1px solid #ccc
    border-bottom-left-radius $border-radius
    border-bottom-right-radius $border-radius
    background-color #fff
    ul
      margin-bottom 0
      li
        border-bottom 1px solid #f1f1f1
        &:hover
          background-color #efefef
        a
          display block
          padding 0 5px
          cursor pointer
