#search-panel
  form(name="formSearch" role="form" novalidate ng-submit="searchPanelCtrl.getSearch(searchPanelCtrl.query)")
    .input-group
      span.logo-part Shop
      input(type="text" autocomplete="off" ng-model="searchPanelCtrl.query" ng-model-options="{debounce: 500}" ng-change="searchPanelCtrl.getSearch(searchPanelCtrl.query)").form-controls#search
      span.input-group-btn
        button(type="submit" ng-click="").btn.btn-default
          i.glyphicon.glyphicon-search
      .result(ng-if="searchPanelCtrl.result")
        ul.list-unstyled
          li(ng-repeat="item in searchPanelCtrl.result")
            a(href="/shop/product/{{item.id}}?category={{item.getCategory.name.toLowerCase()}}" ng-click="searchPanelCtrl.select()") {{item.name}}
