#manage-products

  .row-filter.clearfix
    .row.lvl-1.m-b-20
      .col-sm-3
        button(type="button" ng-click="manageProductsCtrl.addProduct()").btn.btn-default.glyphicon.glyphicon-plus#add-product Add Product
      .col-sm-4.col-sm-offset-5.sm-m-b-10
        .search-row
          input(type="text" placeholder="Search" ng-model="manageProductsCtrl.filter.bySearch" ng-model-options='{debounce: 500}' ng-change="manageProductsCtrl.setFilter('search', manageProductsCtrl.filter.bySearch)")#search.form-control
          span.input-group-btn
            span.glyphicon.glyphicon-search &nbsp;

    .row.lvl-1
      .col-sm-3
        label(for="by-instock").as-block In Stock
        toggle-switch(type="checkbox" ng-model="manageProductsCtrl.filter.inStock" ng-change="manageProductsCtrl.setFilter('inStock', manageProductsCtrl.filter.inStock)")#by-instock
      .col-sm-3
        label(for="by-manufacturer").filter-title Manufacturer
        select(ng-model="manageProductsCtrl.filter.selectedManufacturer" ng-options="manufacturer.name for manufacturer in manageProductsCtrl.manufacturers" ng-change="manageProductsCtrl.setFilter('manufacturer', manageProductsCtrl.filter.selectedManufacturer.id)").form-control#by-manufacturer
      .col-sm-3
        label(for="by-carrier").filter-title Carrier
        select(ng-model="manageProductsCtrl.filter.selectedCarrier" ng-options="carrier.name for carrier in manageProductsCtrl.carriers" ng-change="manageProductsCtrl.setFilter('carrier', manageProductsCtrl.filter.selectedCarrier.id)").form-control#by-carrier
      .col-sm-3
        label(for="by-status").as-block Status
        toggle-switch(type="checkbox" ng-model="manageProductsCtrl.filter.status" ng-change="manageProductsCtrl.setFilter('status', manageProductsCtrl.filter.status)")#by-status


  .table-container.m-t-20
    table(ng-table="manageProductsCtrl.tableParams").table.table-striped.table-bordered.table-hover
      tbody
        tr(ng-repeat="product in $data track by product.id").product-row
          td(title="'ID'").col-id
            div {{product.id}}
          td(title="'Category'").col-category
            div {{product.getCategory.name}}
          td(title="'Name'" sortable="'name'").col-name
            div {{product.name}}
          td(title="'Images (first)'").col-images
            div(ng-if="!product.images").no-images No Images
            div(ng-if="product.images")
              img(src="{{manageProductsCtrl.apiURL + product.images[0]}}")
          td(title="'Date'" sortable="'createdAt'").col-date
            div {{product.createdAt | amDateFormat:'DD.MM.YYYY'}}
          td.col-interface
            div
              span(title="Edit" ng-click="manageProductsCtrl.edit(product)").glyphicon.glyphicon-pencil.edit &nbsp;
              span(title="Delete" ng-click="manageProductsCtrl.delete(product)").glyphicon.glyphicon-trash.delete &nbsp;
