#manage-products

  .col
    &-images
      width 140px
      text-align center
    &-interface
      text-align center
      span.glyphicon
        font-size 18px
        cursor pointer


  .table
    td
      > div
        height 64px
        line-height 64px
        img
          max-height 100%
