@import "../../../variables"

#header
  position relative
  z-index 10
  border-bottom 1px solid #ccc
  background-color #fff

  .lvl-1
    padding-top 15px

  #logo, #search-panel
    float left
    line-height 34px

  #logo
    position relative
    width 86px
    margin-top 1px
    font-size 20px
    line-height 32px
    .logo-title
      display block
      margin-left 38px
      color $logo-color
      &:hover
        text-decoration none
    .logo-icon
      position absolute
      top -6px
      left 0
      width 40px
      height 40px
      display block
      background-image url(/assets/images/main/logo-mobile-icon.jpg)
      background-repeat no-repeat
      background-size contain

  #search-panel
    min-width 234px

  .lvl-2
    margin-top 15px
    padding-top 10px
    border-top-left-radius 5px
    border-top 1px solid $border-color
    border-left 1px solid $border-color
    border-right 1px solid $border-color
    border-top-right-radius 5px
    box-shadow inset 0 1px 2px rgba(0,0,0,0.25)

  .categories
    li
      position relative
      display inline-block
      padding 0 18px
      &:first-child
        padding-left 0
      &:last-child
        padding-right 0
        &:after
          display none
          content " "
      &:after
        content " "
        position absolute
        top 0
        right 0
        height 100%
        border-left 1px solid $border-color
      a
        text-transform uppercase
        &:hover, a.active
          font-family $font-family-bold


/*
// STATE
*/
.demo
  padding 15px
  border 1px solid $border-color
  border-radius 5px
  background-color #fff
