header#header
  .lvl-1.container.clearfix
    .row
      .col-sm-7.form-group.clearfix
        #logo
          a(href="/shop").logo-title
            span.logo-icon &nbsp;
            | Mobi

        search-panel-drv

      .col-sm-5
        user-profile-drv

  .lvl-2.container.clearfix
    .categories {{shopHeaderCtrl.$rootScope.stateActiveUrl}}
      ul.list.list-unstyled
        li(ng-repeat="category in shopHeaderCtrl.categories")
          a(ng-class="{active: shopHeaderCtrl.$rootScope.stateActiveUrl === '/products?phones'}" href="{{'/shop/products?category=' + category.name.toLowerCase()}}") {{category.name}}
