#orders

  .table-container.m-t-20
    table(ng-table="manageOrdersCtrl.tableParams").table.table-striped.table-bordered.table-hover
      tbody
        tr(ng-repeat="order in $data track by order.id").product-row
          td(title="'ID'").col-id
            div {{order.id}}
          td(title="'Product ID'").col-product
            div
              span {{order.getProduct.name}}
          td(title="'User ID'").col-user
            div
              span {{order.getUser.email}}
          td(title="'Amount'" sortable="'amount'").col-amount
            div {{order.amount}}
          td(title="'Created At'" sortable="'createdAt'").col-createdat
            div {{order.createdAt | amDateFormat:'DD.MM.YYYY'}}
